:root{
    --cor-de-fundo:#693383;
    --cor-de-texto:white;
    --fundo-senha:white;
    --fundo-texto:#4E488F;
    --borda:#14003F;

}

*{
   font-weight: 200;   
}

body{

    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);

}
.titulo-principal{
    font-weight: 700;

}

.titulo-secundario{
    font-size: 24px;
}